{% extends 'myweb/member/bases.html' %}
{%  load static from staticfiles  %}

{% block mainbody %}

    <link rel="stylesheet" type="text/css" href="./public/css/global.css">
    <link rel="stylesheet" type="text/css" href="./public/css/register.css">
    <script type="text/javascript" src="./public/js/rem.js"></script>
    <script type="text/javascript" src="./public/js/topNav.js"></script>



  <!-- 主内容区域 -->
  <div id="content" class="content">  
    <div class="container-fluid"> 
		<div class="banner-box hidden-xs hidden-sm">
			<div class="container"> 
				<form id="mainForm" class="main-form" action="{% url 'zhuce1' %}" method="post">
				{% csrf_token %}
					<div class="tab-title">
						<a class="linkABlue" id="toTelRegister" href="javascript:void(0)">注册 Flyme 账号</a>
					</div>
					
					<div class="tip-box visiblility-hidden">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<i class="glyphicon glyphicon-exclamation-sign"></i>
							<span class="tip-font">请输入合法的手机号码</span>
							<span aria-hidden="true" class="cha">&times;</span>
						</button>
					</div>
					<div class="normalInput cycode-box fieldInput" id="cycode-box">
						<div class="cycode-selectbox">
							<input class="ipt-account inp-focus" name="username" id="account" maxlength="50" placeholder="帐号" autocomplete="off">
						</div>
					</div>
					<div class="normalInput cycode-box fieldInput" id="cycode-box">
						<div class="cycode-selectbox">
							<input class="ipt-account inp-focus" name="phone" id="account" maxlength="50" placeholder="手机号" autocomplete="off">
						</div>
					</div>
					<div class="normalInput fieldInput passwd-box">
						<input class="inp-focus" name="password" id="password" maxlength="16" placeholder="密码" autocomplete="off" type="password">
				   </div>
				   <div class="normalInput cycode-box fieldInput" id="cycode-box">
						<div class="cycode-selectbox">
							<input class="ipt-account inp-focus" name="email" id="account" maxlength="50" placeholder="Email" autocomplete="off">
						</div>
					</div>

					<div id="flymeService" class="rememberField" style="font-size:12px;">
						<label class="pointer" for="acceptFlyme" tabindex="0">点击立即注册，即表示您同意并愿意遵守</label>
						<a href="/serviceAgreement" target="_blank" class="linkABlue">Flyme服务协议</a>
						<label class="pointer">和</label>
						<a href="#" target="_blank" class="linkABlue">法律声明</a>
					</div>
					<button type="submit" class="btn btn-primary" style="width:300px">立即注册</button>
					<!-- <a id="nextStep" class="fullBtnBlue register-btn" data-step="1">立即注册</a> -->
					<span style="color:red">{{ info }}</span>
					<div class="transferField">
						<a class="go2register linkABlue" href="{% url 'denlu' %}" id="toLogin">登录</a>
					</div>
				</form>
			</div>
		</div>
      <!-- 移动端结构 -->
      <form id="mainForm" class="main-form app-main-form" >
			<div class="tab-title">
				<a class="linkABlue" id="toTelRegister" href="javascript:void(0)">注册 Flyme 账号</a>
			</div>
			<div class="tip-box visiblility-hidden">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<i class="glyphicon glyphicon-exclamation-sign"></i>
					<span class="tip-font"></span>
					<span aria-hidden="true" class="cha">&times;</span>
				</button>
			</div>
			<div class="normalInput cycode-box show-cycode" id="cycode-box">
				<div class="cycode-selectbox">
				  <input id="phone" name="phone" class="ipt-phone inp-focus" maxlength="11" placeholder="手机号码" autocomplete="off">
				</div>
			</div>
			<div class="normalInput box-input">
				<input class="pswInput inp-focus" name="kapkey" id="kapkey" maxlength="6" placeholder="密码" autocomplete="off" tabindex="3" type="text">
			</div>
			

          <div id="flymeService" class="rememberField" style="font-size:12px;">
            <label class="pointer" for="acceptFlyme" tabindex="0">点击立即注册，即表示您同意并愿意遵守</label>
            <a href="/serviceAgreement" target="_blank" class="linkABlue">Flyme服务协议</a>
            <label class="pointer">和</label>
            <a href="#" target="_blank" class="linkABlue">法律声明</a>
          </div>
          <a id="nextStep" class="fullBtnBlue register-btn" data-step="1">立即注册</a>

          <div class="transferField">
            <a class="go2register linkABlue" href="#" id="toLogin">登录</a>
          </div>
        </form>
      <!-- 移动端结构 E-->

    </div>
  </div>
  <!-- 主内容区域  E-->

{% endblock %}