{% extends "myadmin/base.html" %}

{% block mainbody %}                
    <h3>
        商品类别信息
    </h3>
    <form id="edit-profile" action="{% url 'myadmin_typesupdate' types.id %}" class="form-horizontal" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>编辑商品类别</legend>
            
            <div class="control-group">
                <label class="control-label" for="input01">子类别名称：</label>
                <div class="controls">
                    <input type="text" name="name" class="input-xlarge" id="input01" value="{{ types.name }}" />
                </div>
            </div>
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">保存</button> <button type="reset" class="btn">重置</button>
            </div>
        </fieldset>
    </form>
{% endblock %}