{% extends 'myweb/base.html' %}
{%  load static from staticfiles  %}

{% block mainbody %}

  
  <link rel="stylesheet" type="text/css" href="{% static 'myweb/css/global.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'myweb/css/app.css' %}">
  
  <link rel="stylesheet" type="text/css" href="{% static 'myweb/css/list.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'myweb/css/list-app.css' %}">

  <script type="text/javascript" src="{% static 'myweb/js/rem.js' %}"></script>
  <script type="text/javascript" src="{% static 'myweb/js/topNav.js' %}"></script>
  
  <!-- 导航 --> 
  
    <!-- 移动端结构 -->
    <div class="scroll-view">
      <header class="header orient-h fixed-top">
        <a class="header-back" href="./index.html">
          <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
        </a>
        <div class="title">手机</div>
        <div class="qtool">
            <a id="btn-search"><i class="glyphicon glyphicon-search"></i></a>
        </div>
      </header>
    </div><!-- 移动端结构 E-->
  </div><!-- 导航 E--> 

  <!-- 主内容区域 -->
  <div class="mainlist">
    <div class="container">
      <!-- 面包屑 导航 -->
      <div class="ml-nav hidden-xs hidden-sm">
            <ol class="breadcrumb">
              <li><a href="{% url 'index' %}">首页</a></li>
              <li><a href="{% url 'lists' %}">全部商品</a></li>
            </ol>
      </div>
      <!-- 面包屑 导航 E-->
      <!-- 分类列表 -->
      <div class="selector hidden-xs hidden-sm">
      <div class="sl-category">
        <div class="sl-line-wrap clearfix">
          <div class="mod-key">分类：</div>
          <div class="mod-value">
            <div class="mod-value-list">
              <ul>
                <li class="">
                  <a href="{{ request.path }}" title="全部">全部</a>
                {% for tt in types %}
                <li class="">
                  <a href="{{ request.path }}?ttid={{tt.id}}" title="{{ tt.name }}">{{ tt.name }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="sl-line-wrap clearfix">
            <div class="mod-key"></div>
            <div class="mod-value">
              <!-- <div class="mod-value-list">
                <ul>
                      <li class="">
                        <a href="javascript:void(0)" title="全部">全部</a>
                      </li>
                      <li class="">
                        <a href="javascript:void(0)" title="5.0尺寸">5.0尺寸</a>
                      </li>
                      <li class="">
                        <a href="javascript:void(0)" title="5.2尺寸">5.2尺寸</a>
                      </li>
                      <li class="">
                        <a href="javascript:void(0)" title="5.5尺寸">5.5尺寸</a>
                      </li>
                      <li class="">
                        <a href="javascript:void(0)" title="5.7尺寸">5.7尺寸</a>
                      </li>
                      <li class="">
                        <a href="javascript:void(0)" title="6.0尺寸">6.0尺寸</a>
                      </li>
                </ul>
              </div> -->
            </div>
          </div>     
        </div>
      </div>
      <!-- 分类列表 E -->

      <!-- 分类导航 -->
      <div class="filter clearfix hidden-xs hidden-sm" style="display:block">
        <div class="filter-order">
          <a class="active" data-tag="0" data-mtype="store_list_sx_1" href="javascript:void(0);">
              推荐
          </a>
          <a data-tag="1" data-mtype="store_list_sx_2" href="javascript:void(0);">
              新品
          </a>
          <a data-tag="2" data-mtype="store_list_sx_3" href="javascript:void(0);">
              价格<i class="icon-arrow-down"></i>
          </a>
        </div>
        <div class="filter-condition" >
          <label class="bs-checkbox" data-mtype="store_list_sx_xz">
              <i></i>仅显示有货商品
          </label>
        </div>
      </div>

     <!-- 移动端结构 -->
       <!-- <div class="list-filter" id="J_listFilter">
        <ul class="flex">
          <li class="current" style="display: list-item; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
            <a>
                全部<i class="arrow-down"></i>
            </a>
          </li>
          <li style="display: list-item; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
            <a>
                价格<i class="arrow-mini-up active" data-direction="1"></i><i class="arrow-mini-down" data-direction="-1"></i>
            </a>
          </li>

          <li id="J_btnChangeStyle" style="display: list-item; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
            <a>
                <i class="glyphicon glyphicon-th-large"></i>
            </a>
          </li>
        </ul>
      </div> -->
      <!-- 移动端结构 E -->

     <!--  分类导航 E -->

      <!-- 商品列表 -->
      
      <div class="goods-list">
        <div class="row">
          {% for goods in goodslist %}
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="gl-item">
              <div class="compare-btn-list" >
                  <i class="iconfont  icon-duibi compare-duibi"></i>
                  <span class="hidden-xs hidden-sm">对比</span>
              </div>
              <div class="gl-item-wrap">
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active mod-pic" id="list-p1">
                    <a href="{% url 'detail' goods.id %}">
                      <img class="lazy j-modProduct" src="/static/goods/{{ goods.picname }}" width="220" height="220">
                    </a>
                  </div>
                 <!--  <div role="tabpanel" class="tab-pane mod-pic" id="list-p2">
                    <a href="./meilanx.html">
                      <img class="lazy j-modProduct" src="{% static 'myweb/img/list04.jpg' %}" width="220" height="220">
                    </a>
                  </div>
                  <div role="tabpanel" class="tab-pane mod-pic" id="list-p3">
                    <a href="./meilanx.html">
                      <img class="lazy j-modProduct" src="{% static 'myweb/img/list05.jpg' %}" width="220" height="220">
                    </a>
                  </div -->
                </div>

                <!-- Nav tabs -->
                <div class="item-slide j-pro-wrap  hidden-xs hidden-sm">
                  <ul class="nav nav-tabs  " role="tablist">
                    <li role="presentation" class="active">
                      <a href="#list-p1" aria-controls="list-p1" role="tab" data-toggle="tab">
                        <img class="lazy"  src="/static/goods/s_{{ goods.picname }}" style="display: inline;" width="40" height="40">
                      </a>
                    </li>
                    <!-- <li role="presentation">
                      <a href="#list-p2" aria-controls="list-p2" role="tab" data-toggle="tab">
                        <img class="lazy"  src="{% static 'myweb/img/list02.jpg' %}" style="display: inline;" width="40" height="40">
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#list-p3" aria-controls="list-p3" role="tab" data-toggle="tab">
                        <img class="lazy"  src="{% static 'myweb/img/list03.jpg' %}" style="display: inline;" width="40" height="40">
                      </a>
                    </li> -->
                  </ul>
                </div>
                <div class="slide-btn j-modBtns" style="display: none;">
                    <span  class="prev iconfont disabled"></span>
                    <span  class="next iconfont"></span>
                </div>
                <h4 style="font-size:15px;">{{ goods.goods }}</h4>
                <h3 class="red" title="{{ goods.descr }}">{{ goods.descr }}</h3>
                <div class="mod-price">
                    <span>￥</span>
                    <span class="vm-price">{{ goods.price }}</span>
                    <span class="vm-start">起</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
      <!-- 商品列表 -->
      <!-- 推荐商品 -->
      <div class="recommend  hidden-xs hidden-sm">
       <div class="recommend-hd">
            <h2 class="mod-title">为您推荐</h2>
       </div>
       <div class="recommend-slider">
          <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <ul class="recommend-slider-wrap" style="width: 1000%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
              <li class="rs-item" style="width: 245.6px; margin-right: 5px; float: left; display: block;">
                <a class="rs-item-wrap" title="魅蓝 Note5" href="#" target="_blank">
                  <div class="mod-pic">
                    <img src="{% static 'myweb/img/list81.jpg' %}" style="display: inline;" width="180" height="180">
                  </div>
                  <div class="mod-desc">
                    <h4 class="vm-title">魅蓝 Note5 </h4>
                    <h6 class="vm-subtitle" title="6期免息  16G直降100元">6期免息  16G直降100元</h6>
                    <p class="vm-price">
                        <span>¥</span><span class="vm-price-text">899</span>
                    </p>
                  </div>
                  <span class="mod-sign" style="background-color: #f0415f;">特惠</span>
                </a>
              </li>
              <li class="rs-item" style="width: 245.6px; margin-right: 5px; float: left; display: block;">
                <a class="rs-item-wrap" title="魅蓝 5s" href="#" target="_blank">
                  <div class="mod-pic">
                          <img src="{% static 'myweb/img/list82.jpg' %}" style="display: inline;" width="180" height="180">
                  </div>
                  <div class="mod-desc">
                      <h4 class="vm-title">魅蓝 5s </h4>
                      <h6 class="vm-subtitle" title="32G版限量赠壳膜">32G版限量赠壳膜</h6>
                      <p class="vm-price">
                          <span>¥</span><span class="vm-price-text">999</span>
                      </p>
                  </div>
                </a>
              </li>
              <li class="rs-item" style="width: 245.6px; margin-right: 5px; float: left; display: block;">
                <a class="rs-item-wrap" title="魅族 MX6" href="#" target="_blank">
                  <div class="mod-pic">
                          <img src="{% static 'myweb/img/list83.jpg' %}" style="display: inline;" width="180" height="180">
                      </div>
                  <div class="mod-desc">
                      <h4 class="vm-title">魅族 MX6 </h4>
                      <h6 class="vm-subtitle" title="全金属 拍照旗舰">全金属 拍照旗舰</h6>
                      <p class="vm-price">
                          <span>¥</span><span class="vm-price-text">1599</span>
                      </p>
                  </div>
                </a>
              </li>
              <li class="rs-item" style="width: 245.6px; margin-right: 5px; float: left; display: block;">
                <a class="rs-item-wrap" title="魅蓝 Max" href="#" target="_blank">
                  <div class="mod-pic">
                    <img src="{% static 'myweb/img/list84.jpg' %}" style="display: inline;" width="180" height="180">
                  </div>
                  <div class="mod-desc">
                    <h4 class="vm-title">魅蓝 Max </h4>
                    <h6 class="vm-subtitle" title="大屏长续航 享3期免息">大屏长续航 享3期免息</h6>
                    <p class="vm-price">
                        <span>¥</span><span class="vm-price-text">1699</span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="rs-item" style="width: 245.6px; margin-right: 5px; float: left; display: block;">
                <a  class="rs-item-wrap" title="魅蓝 E2" href="#" target="_blank">
                  <div class="mod-pic">
                    <img src="{% static 'myweb/img/list85.jpg' %}" style="display: inline;" width="180" height="180">
                  </div>
                  <div class="mod-desc">
                      <h4 class="vm-title">魅蓝 E2 </h4>
                      <h6 class="vm-subtitle" title="三色现货 购机享3期免息">三色现货 购机享3期免息</h6>
                      <p class="vm-price">
                          <span>¥</span><span class="vm-price-text">1299</span>
                      </p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 推荐商品 E -->

    </div>
  </div>
  <!-- 主内容区域 E-->
 

{% endblock %}