 
{%  load static from staticfiles  %}


<!DOCTYPE html>
<html lang="en" class="">
  
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>购物车-我的购物车</title>
	<meta name="description" content="购物车，我的购物车">
	<meta name="Keywords" content="魅族手机官网商城、魅族官方在线商店、魅族在线商城、魅族官网在线商店、魅族商城、魅蓝商城">
	<link href="{% static 'myweb/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
	<link href="{% static 'myweb/img/favicon.ico' %}" rel="icon" type="image/x-icon">
	<!-- Bootstrap -->
	<link href="{% static 'myweb/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{% static 'myweb/js/jquery-1.12.4.min.js' %}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static 'myweb/js/bootstrap.min.js' %}"></script>
	<!-- 兼任ie9以下 -->
	<!--[if lt IE 9]>
	  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
	  <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<!-- 自定义 -->
	<link rel="stylesheet" type="text/css" href="{% static 'myweb/css/global.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'myweb/css/app.css' %}">
	
	<link rel="stylesheet" type="text/css" href="{% static 'myweb/css/cart.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'myweb/css/cart-app.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'myweb/css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myweb/css/app.css' %}">

	<script type="text/javascript" src="{% static 'myweb/js/rem.js' %}"></script>
    <script type="text/javascript" src="{% static 'myweb/js/topNav.js' %}"></script>
   
	
	<script type="text/javascript" src="{% static 'myweb/js/rem.js' %}"></script>
	<script type="text/javascript" src="{% static 'myweb/js/topNav.js' %}"></script>
</head>
  

    <!-- 导航 -->
<body>
      <!-- 导航 --> 
    <div class="layout-header" id="scroll-wrap">
        <nav class="navbar navbar-default navbar-fixed-top header hidden-xs hidden-sm">
          <div class="container clearfix">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <div class="layout-header-logo navbar-left">
                  <a target="_blank" href="./index.html" class="layout-header-logo-link" alt="魅族科技">
                    <img src="{% static 'myweb/img/logo.png' %}">
                  </a>
              </div>
              <ul class="nav navbar-nav navbar-right layout-header-service clearfix">
            <li class="layout-header-service-item" id="layoutHeaderUser">
                <a class="layout-header-service-link g-user" href="{% url 'geren' %}">
                  <i class="glyphicon glyphicon-user"></i>
                  <div style="width:40px;height:30px;margin-left:25px;margin-top:-20px;">
                    <span>{{request.session.vipuser.name}}</span>
                  </div>
                </a>
                <div class="layout-user-downmenu">
                  <ul class="layout-user-downmenu-list">
                    <li class="layout-user-downmenu-item">
                      <a href="{% url 'denlu' %}" class="layout-user-downmenu-link">立即登录</a>
                    </li>
                    <li class="layout-user-downmenu-item">
                      <a href="{% url 'zhuce' %}" target="_blank" class="layout-user-downmenu-link" data-mtype="wmz_public_grzx_register">立即注册</a>
                    </li>
                    <li class="layout-user-downmenu-item">
                      <a href="{% url 'geren' %}" class="layout-user-downmenu-link" data-mtype="wmz_public_grzx_myorder">个人中心</a>
                    </li>
                    <li class="layout-user-downmenu-item">
                      <a href="{% url 'denlu2' %}" class="layout-user-downmenu-link" data-mtype="wmz_public_grzx_myorder">退出</a>
                    </li>
                  
                  </ul>
                </div>
            </li>
            <li class="layout-header-service-item layout-header-service-cart" id="layoutHeaderCart">
                <a class="layout-header-service-link" href="{% url 'gshop' %}" data-mtype="wmz_public_yt_cart">
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-shopping-cart"></i>
                    <span class="layout-header-service-cart-num">{{ request.session.shopl|length}}</span>
                </a>
            </li>
          </ul>
              <ul class="nav navbar-nav navbar-right layout-header-nav clearfix">
                <li class="layout-header-nav-item"><a href="{% url 'index' %}" class="layout-header-nav-link">网站首页</a></li>
            	{% for vo in typelist %}
            	<li class="layout-header-nav-item"><a href="{% url 'lists2' vo.id %}" class="layout-header-nav-link">{{ vo.name }}</a></li>
            	{% endfor %}
      
                <li class="layout-header-nav-item"><a href="#" class="layout-header-nav-link">在线帮助</a></li>
                <li class="layout-header-nav-item"><a href="#" class="layout-header-nav-link">关于我们</a></li>
                <li class="layout-header-nav-item"><a href="#" class="layout-header-nav-link">社区</a></li>                          
              </ul>           
            </div>
             <!-- /.navbar-collapse -->
          </div>
         <!-- /.container-fluid -->
         <!-- 鼠标经过出现内容 -->
 
  
		<!-- 移动端结构 -->
		<div class="scroll-view">
			<header id="header" class="header">
				<div class="logo">
					<a href="./index.html">
					  <img src="{% static 'myweb/img/app/mlogo1.jpg">
					</a>
				</div>
				<div class="qtool">
					<a id="btn-search">
					  <i class="glyphicon  glyphicon-search"></i>
					</a>
					<a href="#">
					  <i class="glyphicon  glyphicon-shopping-cart"></i>
					</a>
					<a id="user-name" href="#">
					  <i class="glyphicon glyphicon-user"></i>
					</a>
				</div>
			</header>
		</div>
    </div>
    <!-- 导航 E-->
    <!-- 主内容区域 -->
    <div class="mainbody cart">
		<div class="container">
			<!-- 购物车详情头 -->
			<table class="cart-header">
				<tbody>
					<tr>
						<td class="cart-col-select col-md-3 col-xs-3 col-sm-3">
							<div class="cart-select-all JSelectAll">
								<div class="mz-checkbox"></div>
								<span class="cart-select-title">全选</span>
							</div>
						</td>
						<td class="cart-col-name col-md-3 hidden-xs hidden-sm">商品</td>
						<td class="cart-col-price col-md-2 hidden-xs hidden-sm">单价(元)</td>
						<td class="cart-col-number col-md-2 hidden-xs hidden-sm">数量</td>
						<td class="cart-col-total col-md-1 hidden-xs hidden-sm">小计(元)</td>
						<td class="cart-col-ctrl col-md-1 hidden-xs hidden-sm">操作</td>
					</tr>
				</tbody>
			</table><!-- 购物车详情头 E-->
			
			<!-- 购物清单信息列表 -->
			<div class="cart-merchant-list">
				<div class="cart-merchant">
					<table class="cart-merchant-body">

						<tbody>
						{% for shop in request.session.shopl.values %}
							<tr class="cart-product" id="pro5">
								<td class="cart-col-select col-md-3 col-xs-4 col-sm-4">  
									<div class="mz-checkbox " gid="{{shop.id}}" price="{% widthratio  shop.price 1 shop.m %}"></div> 
									<a href="{% url 'detail' shop.id %}" class="cart-product-link" target="_blank">
										<img src="/static/goods/s_{{ shop.picname }}" class="cart-product-img" alt="{{ shop.goods }}">
									</a>
								</td>
								<td class="cart-col-name col-md-3 col-xs-8 col-sm-8">
									<a href="{% url 'detail' shop.id %}" class="cart-product-link" target="_blank">
									  <p>{{ shop.goods }}</p>
									  <span class="cart-product-desc">{{ shop.descr }}</span>
									</a>
									<p class="">
										<span class="cart-product-price">{{ shop.price }}</span>
									</p>
									<div class="cart-col-number">
										<div class="cart-product-number-adder">
											<p class="cart-product-number-max show"></p>
											<div class="mz-adder">
												<button class="mz-adder-subtract disabled"></button>
												<div class="mz-adder-num"><input class="mz-adder-input" value="1" type="text"></div>
												<button class="mz-adder-add"></button>
											</div>
										</div>
									</div>
								</td>
								<td class="cart-col-price col-md-2 hidden-xs hidden-sm">
									<p>
										<span class="cart-product-price">{{ shop.price }}</span>
									</p>
								</td>
								<td class="cart-col-number col-md-2 hidden-xs hidden-sm">
									<div class="cart-product-number-adder">
										<p class="cart-product-number-max show"></p>
										<div class="mz-adder">
											<button onclick="window.location='{% url 'gshopupdate' %}?gid={{shop.id}}&num={{shop.m|add:-1}}'" class="mz-adder-subtract disabled"></button>
											<div class="mz-adder-num"><input class="mz-adder-input" value="{{ shop.m }}" type="text"></div>
											<button onclick="window.location='{% url 'gshopupdate' %}?gid={{shop.id}}&num={{shop.m|add:1}}'" class="mz-adder-add">+</button>
										</div>
									</div>
								</td>
								<td class="cart-col-total col-md-1 hidden-xs hidden-sm">
									<span class="cart-product-price total">{% widthratio  shop.price 1 shop.m %}</span>
								</td>
								<td class="cart-col-ctrl col-md-1 hidden-xs hidden-sm">
									<a href="{% url 'gshopdel' shop.id %}">
										<div class="cart-product-remove">
											<span class="glyphicon glyphicon-remove"></span>
										</div>
									</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div><!-- 购物清单信息列表 E-->
		</div>
		<!-- 结算详情 -->
		<div class="cart-footer" id="cartFooter">
			<div class="container">
			   <div class="cart-footer-left col-md-6 col-xs-4 col-sm-4">
				   <div class="cart-select-all JSelectAll" data-mdesc="全选按钮" data-mtype="store_cart_all">
						<!-- <div class="mz-checkbox"></div> -->
						<span class="cart-select-title"></span>
				   </div>
				   <!-- <span class="cart-remove-selected" id="removeSelected">删除选中的商品</span> -->
				   <span class="cart-footer-count">
						共
						<span class="cart-footer-num" id="totalCount"></span>
						件商品
					</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				   <a href="{% url 'gshopclose' %}"><div class="mz-btn success" id="cartSubmit" style="background:#D9534F;border:1px;soled #D43F3A;">清空购物车</div></a>
				   </span>
				</div>
				<div class="cart-footer-right col-md-5 col-md-offset-1 col-sm-offset-2 col-xs-8 col-sm-6">
					<span class="cart-footer-sum">
						<span class="cart-footer-text">已优惠</span>
						<span class="cart-footer-num red" id="totalDiscount">0.00</span>
						<span class="cart-footer-text">元， 合计(不含运费)：</span>
						<span class="cart-footer-total" id="totalPrice">0.0</span>
					</span>
					<div onclick="window.location='{% url 'jiesuan' %}?gids='+loadTotal().join(',')" class="mz-btn success" id="cartSubmit">去结算</div>
				</div>
			</div>
		</div><!-- 结算详情 E-->
	</div>
    <!-- 主内容区域 E-->
	
    <!-- 底部区域 -->
    <footer class="layout-footer  hidden-xs hidden-sm">
		<div class="container">
			<div class="layout-footer-top clearfix">
				<ul class="layout-footer-services clearfix">
					<li class="layout-footer-services-item">
					  <a href="#" class="layout-footer-services-link" target="_blank">
						<span class="layout-footer-service-wrap">
						  <i class="glyphicon glyphicon-sd-video"></i>
						</span>
						<span class="layout-footer-services-text">顺丰包邮</span></a>
					</li>
					<li class="layout-footer-services-item">
					  <a href="#" class="layout-footer-services-link" target="_blank">
						<span class="layout-footer-service-wrap">
						  <i class="glyphicon glyphicon-flash"></i>
						</span>
						<span class="layout-footer-services-text">100+ 城市次日送达</span></a>
					</li>
					<li class="layout-footer-services-item">
					  <a href="#" class="layout-footer-services-link" target="_blank">
						<span class="layout-footer-service-wrap">
						  <i class="glyphicon glyphicon-repeat"></i>
						</span>
						<span class="layout-footer-services-text">7 天无理由退货</span></a>
					</li>
					<li class="layout-footer-services-item">
					  <a href="#" class="layout-footer-services-link" target="_blank">
						<span class="layout-footer-service-wrap">
						  <i class="glyphicon glyphicon-refresh"></i>
						</span>
						<span class="layout-footer-services-text">15 天换货保障</span></a>
					</li>
					<li class="layout-footer-services-item">
					  <a href="#" class="layout-footer-services-link" target="_blank">
						<span class="layout-footer-service-wrap">
						  <i class="glyphicon glyphicon-wrench"></i>
						</span>
						<span class="layout-footer-services-text">1 年免费保修</span></a>
					</li>
					<li class="layout-footer-services-item">
					  <a href="#" class="layout-footer-services-link" target="_blank">
						<span class="layout-footer-service-wrap">
						  <i class="glyphicon glyphicon-map-marker"></i>
						</span>
						<span class="layout-footer-services-text">2300+ 线下体验店</span></a>
					</li>
					<li class="layout-footer-services-item">
					  <a href="#" class="layout-footer-services-link" target="_blank">
						<span class="layout-footer-service-wrap">
						  <i class="glyphicon glyphicon-sort"></i>
						</span>
						<span class="layout-footer-services-text">远程支持服务</span></a>
					</li>
					<li class="layout-footer-services-item">
					  <a href="#" class="layout-footer-services-link" target="_blank" data-mtype="wmz_{% static 'myweb_foot_homerepair">
						<span class="layout-footer-service-wrap">
						  <i class="glyphicon glyphicon-home"></i>
						</span>
						<span class="layout-footer-services-text">上门快修</span></a>
					</li>
				</ul>
			  <div class="layout-footer-contact">
				<p class="layout-footer-contact-desc">24小时全国服务热线</p>
				<a href="tel:400-788-3333" class="layout-footer-contact-tel">400-788-3333</a>
				<p>
					<a href="javascript:void(0);" class="layout-footer-contact-online">
						<i class="layout-font layout-font-talk1"></i>
						<span class="text">在线客服</span>
					</a>
				</p>
			  </div>
			</div>
			<div class="layout-footer-bottom clearfix">
			<ul class="layout-footer-interlock clearfix">
				<li class="layout-footer-interlock-item">
					<a href="#" target="_blank" class="layout-footer-interlock-link">了解魅族</a></li>
				<li class="layout-footer-interlock-item">
					<a href="#" target="_blank" class="layout-footer-interlock-link">加入我们</a></li>
				<li class="layout-footer-interlock-item">
					<a href="#" target="_blank" class="layout-footer-interlock-link">联系我们</a></li>
				<li class="layout-footer-interlock-item">
					<a href="#" target="_blank" class="layout-footer-interlock-link">Flyme</a></li>
				<li class="layout-footer-interlock-item">
					<a href="#" target="_blank" class="layout-footer-interlock-link">魅族社区</a></li>
				<li class="layout-footer-interlock-item">
					<a href="#" target="_blank" class="layout-footer-interlock-link">天猫旗舰店</a></li>
				<li class="layout-footer-interlock-item">
					<a href="#" target="_blank" class="layout-footer-interlock-link">问题反馈</a></li>
				<li class="layout-footer-interlock-item">
					<a href="#" target="_blank" class="layout-footer-interlock-link">线上销售授权名单公示</a>
				 </li>
			</ul>
			<div class="layout-footer-copyright clearfix">
				<span class="layout-footer-copyright-left">
					<a class="layout-footer-copyright-link copyright-text">&copy;2017 Meizu Telecom Equipment Co., Ltd. All rights reserved.</a>
					<a class="layout-footer-copyright-link" hidefocus="true" href="#" target="_blank">粤ICP备13003602号-2</a>
					<a class="layout-footer-copyright-link" hidefocus="true" href="#" target="_blank">合字B2-20170010</a>
					<a class="layout-footer-copyright-link" hidefocus="true" href="#" target="_blank">营业执照</a>
					<a class="layout-footer-copyright-link" hidefocus="true" href="3" target="_blank">法律声明</a>
					<a class="layout-footer-copyright-link">粤公网安备 44049102496009 号</a>
					<a class="layout-footer-copyright-link" hidefocus="true" href="#" rel="nofollow" target="_blank">
						<i class="layout-icon layout-icon-license"></i>
					</a>
					<a class="layout-footer-copyright-link" hidefocus="true" href="#" rel="nofollow" target="_blank">
						<i class="layout-icon layout-icon-wel"></i>
					</a>
					<a class="layout-footer-copyright-link" hidefocus="true" href="#" rel="nofollow" target="_blank">
						<i class="layout-icon layout-icon-trust"></i>
					</a>
				</span>
				<ul class="layout-footer-media clearfix">
					<li class="layout-footer-media-item">
						<a href="http://weibo.com/meizumobile" class="layout-footer-media-link">
							<i class="layout-font layout-font-weibo"></i>
						</a>
					</li>
					<li class="layout-footer-media-item">
						<a href="javascript:void(0);" class="layout-footer-media-link wechat">
							<i class="layout-font layout-font-wechat"></i>
							<div class="layout-footer-media-wechat-qrcode">
								<img class="layout-footer-media-wechat-img" src="" alt="微信二维码">
							</div>
						</a>
					</li>
					<li class="layout-footer-media-item">
						<a href="#" class="layout-footer-media-link">
							<i class="layout-font layout-font-qzone"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
    </footer>
    <!-- 底部区域 E -->
    <!-- 返回顶部 -->
    <div class="layout-magnet layout-magnet-show">
		<div class="layout-magnet-item layout-magnet-item-top">
			<a href="javascript:void(0);" class="layout-magnet-link" data-mtype="wmz_{% static 'myweb_cbxf_top">
				<div class="layout-magnet-icon">
					<i class="glyphicon glyphicon-menu-up"></i>
				</div>
			</a>
		</div>
    </div>
    <!-- 返回顶部 E-->
	<script type="text/javascript">//回顶部
      		backTop();
      		//全选
      		allSelect();
      		//商品数量加减
      		cartAddMin();

      		loadTotal();

      		var gidlist = [];
	</script>
</body>

</html>
